.wrapper {
    display: flex;
    align-items: center;justify-content: center;
}

.login {
    width: 400px;
    padding: 24px;
    background-image: url(../../asset/imgshop//bg_login1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.login h3 {
    font-size: 24px;
}

.form__group input {
    background: transparent;
    outline: none;
}

.form__group input:focus {
    background: #fff;
}

.form__group input[type="file"] {
    cursor: pointer;
}

.form__group input::placeholder{
    color: black;
}

.auth__btn {
    width: unset;
    padding: 10px 12px;
}

.login-p a{
    font-size: 18px;
}

